/*@media screen and (min-width: 650px) {
	.notes-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.detail-page__title {
		font-size: 64px;
	}
}

@media screen and (min-width: 850px) {
	.notes-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1200px) {
	.notes-list {
		grid-template-columns: repeat(4, 1fr);
	}
} */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.neumorphism-flat {
    border-radius: 15px;
    background: #26282b;
    box-shadow: 5px 5px 10px #0f1011, -5px -5px 10px #3d4045;
}

.neumorphism-pressed {
    border-radius: 15px;
    background: #26282b;
    box-shadow: inset 6px 6px 12px #0f1011, inset -6px -6px 12px #3d4045;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background: #26282b;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 50px);
    width: 85%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
}

main section {
    width: 100%;
    height: 100%;
}

.app-title {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: 10px 0 30px 0;
}

nav {
    margin-top: 30px;
    position: fixed;
    bottom: 10px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 70px;
    margin: 0 15px;
    list-style: none;
    width: 35%;
    position: relative;
    background: #26282b;
}

.home-menu,
.archive-menu {
    position: absolute;
    top: 50%;
}

.home-menu {
    left: 25%;
    transform: translate(-50%, -50%);
}

.archive-menu {
    right: 25%;
    transform: translate(50%, -50%);
}

.new-menu {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) translateY(-50%);
    position: absolute;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    background: rgb(205, 42, 18);
    background: linear-gradient(90deg, rgba(205, 42, 18, 1) 0%, rgba(237, 86, 13, 1) 100%);
}

.icon {
    color: #ffffff;
}

.page-title {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

.note-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 130px;
    gap: 25px;
    margin-top: 20px;
}

.note-item {
    width: 100%;
    height: 270px;
    cursor: pointer;
    padding: 20px;
}

.note-title,
.note-date,
.note-content {
    color: #ffffff;
}

.note-title {
    font-weight: 700;
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-date {
    font-size: 12px;
    font-weight: 300;
    margin: 2px 0 20px 0;
}

.note-content {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.no-notes p {
    font-size: xx-large;
    font-weight: 600;
    color: #ffffff;
}

.note-detail {
    justify-self: center;
    margin: 40px auto 0 auto;
    width: 75%;
}

.btn-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    color: #ffffff;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

.delete-btn {
    margin-left: 15px;
}

.detail-title,
.detail-date,
.detail-content {
    color: #ffffff;
}

.detail-title {
    margin-bottom: 3px;
    font-size: 2.5rem;
    font-weight: 700;
}

.detail-date {
    font-weight: 300;
    margin-bottom: 30px;
}

.detail-content {
    font-weight: 500;
}

.note-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group:first-child {
    margin-bottom: 20px;
}

.input-group label {
    color: #ffffff;
    font-weight: 500;
    font-size: large;
}

.input-title,
.input-search,
.input-body {
    color: #ffffff;
    font-size: 1rem;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    caret-color: #ffffff;
}

.note-input,
.input-group:nth-child(2) {
    height: 80%;
}

.input-body {
    height: 200px;
}

.input-body {
    overflow-y: scroll;
}

.input-body::-webkit-scrollbar {
    width: 5px;
}

.input-body::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

.input-btn {
    align-self: flex-end;
    margin-top: auto;
    display: flex;
}

.submit-btn {
    margin-left: 20px;
    background: #4cd137;
}

.archive-btn {
    background: #3867d6;
}

.cancel-btn,
.delete-btn {
    background-color: #ff0000;
}
